<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982837748691-78p6sfpf580cm1b79ud7tj2o23f79nf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982837748691-78p6sfpf580cm1b79ud7tj2o23f79nf8</string>
	<key>API_KEY</key>
	<string>AIzaSyAq5vIzfMnJ5D_I32M5PLR4s68RUVK0b-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>982837748691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-b28bd</string>
	<key>STORAGE_BUCKET</key>
	<string>social-b28bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982837748691:ios:6781a1b106647b2a590526</string>
</dict>
</plist>